img {
  transition: opacity .4s;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 100%;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.qty__label {
  width: 36px;
  display: flex;
  cursor: pointer;
}

.qty__span {
  border: 1px solid darkgray;
  background-color: #ccc;
  padding: 2px 3px;
  transition: .4s;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 1px 0px 1px 0px white;
}

.qty__radio:checked + .qty__span {
  background-color: #2196F3;
  color: white;
  box-shadow: inset 0px 0px 8px 1px rgba(0, 0, 0, 0.3), 0 0 1px 1px #ccc;
}

.gallery__filters {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.switchContainer {
  display: flex;
  height: 34px;
}

.switchText {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.alinment__span, .alinment__span::before, .alinment__span::after {
display: block;
  position: absolute;
  /*width: 70%;*/
  height: 1px;
  background-color: black;
}

.alinment__label {
  display: flex; 
  cursor: pointer;
}

.alinment__span::before {
  content: '';
  top: -8px;
  width: 100%;
}

.alinment__span::after {
   content: '';
  top: 8px;
  width: 100%;
}

.alinment__span-0::before, .alinment__span-0::after {
  width: 70%;
}

.alinment__span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.alinment__radio:checked + .alinment__btn {
  background-color: #2196F3;
  box-shadow: inset 0px 0px 8px 1px rgba(0, 0, 0, 0.3), 0 0 1px 1px #ccc;
}

.alinment__radio:checked + .alinment__btn .alinment__span {
  background-color: white;
}

.alinment__radio:checked + .alinment__btn .alinment__span::before {
  background-color: white;
}

.alinment__radio:checked + .alinment__btn .alinment__span::after {
  background-color: white;
}

.alinment__btn {
  border: 1px solid darkgray;
  background-color: #ccc;
  box-shadow: inset 1px 0px 1px 0px white;
  width: 32px;
  display: flex; 
  align-items: center;  
  justify-content: center;
  position: relative;
  transition: .4s;
}

.switchContainer, .qtySelectorContainer, .alinmentSelectorContainer {
  display: flex;
  height: 34px;
}

@media (max-width: 750px) {
  .switchContainer, .qtySelectorContainer {
    margin-bottom: 15px;
  }

  .gallery__filters {
    flex-direction: column;
    align-items: center;
  }


}